h1 {
    text-align: center;
    font-size: 50px;
    font-family: monospace;
}

#ligne {
    border-bottom:1px solid black;
}

img {
    margin-left: auto;
    margin-right: auto;
    float:center;
    margin-top: auto;
}

#presentation{
    background-color:#e5e5e5;
    padding:20px;
    text-align:center;
    width: 600px;
    float:right;
    margin-right: 80px;
    font-size: 20px;
}

#profiles_ex{
    background-color:#e5e5e5;
    padding:20px;
    text-align:center;
    width: 600px;
    float:right;
    margin-right: 80px;
    font-size: 20px;
}

body{
    background-color:#ffffff;
    background-image: url("fond.PNG");
}

.position{
    position: fixed;
}

#bouton_x1{
    top: 230px;
    right: 957px;
}

#bouton_x2{
    top: 230px;
    right: 788px;
}

#bouton_x3{
    top: 230px;
    right: 623px;
}

#bouton_x4{
    top: 400px;
    right: 957px;
}

#bouton_x5{
    top: 400px;
    right: 788px;
}

#bouton_x6{
    top: 400px;
    right: 623px;
}

#bouton_x7{
    top: 560px;
    right: 957px;
}

#bouton_x8{
    top: 560px;
    right: 788px;
}

#bouton_x9{
    top: 560px;
    right: 623px;
}

#af_croix1{
    margin-top: 70px;
    margin-left: 575px;
}

#af_croix2{
    margin-top:  70px;
    margin-left: 745px;
}

#af_croix3{
    margin-top: 70px;
    margin-left: 910px;
}

#af_croix4{
    margin-top: 230px;
    margin-left: 575px;
}

#af_croix5{
    margin-top: 230px;
    margin-left: 745px;
}

#af_croix6{
    margin-top: 230px;
    margin-left: 910px;
}

#af_croix7{
    margin-top: 390px;
    margin-left: 575px;
}

#af_croix8{
    margin-top: 390px;
    margin-left: 745px;
}

#af_croix9{
    margin-top: 390px;
    margin-left: 910px;
}

#af_cercle1{
    margin-top: 70px;
    margin-left: 575px;
}

#af_cercle2{
    margin-top:  70px;
    margin-left: 745px;
}

#af_cercle3{
    margin-top: 70px;
    margin-left: 910px;
}

#af_cercle4{
    margin-top: 230px;
    margin-left: 575px;
}

#af_cercle5{
    margin-top: 230px;
    margin-left: 745px;
}

#af_cercle6{
    margin-top: 230px;
    margin-left: 910px;
}

#af_cercle7{
    margin-top: 390px;
    margin-left: 575px;
}

#af_cercle8{
    margin-top: 390px;
    margin-left: 745px;
}

#af_cercle9{
    margin-top: 390px;
    margin-left: 910px;
}

#bouton_start{
    width:200px;
    height:80px;
    font-size: 20px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
    
}

#question {
    background-color: whitesmoke;
    font-size: 20px;
}

hg {
    text-align: top;
}


p {
    text-align: center;
}

#rep1 {
    background-color: whitesmoke;
    border: none;
    font-size: 20px;
    margin-top: 100px;
}

#rep2 {
    background-color: whitesmoke;
    border: none;
    font-size: 20px;
}

#rep3 {
    background-color: whitesmoke;
    border: none;
    font-size: 20px;
}

/* Quand la souris est sur le bouton il devient noir */
#rep1:hover {
    background-color: black;
    color: white;
}

#rep2:hover {
    background-color: black;
    color: white;
}

#rep3:hover {
    background-color: black;
    color: white;
}

#resultat {
    background-color: whitesmoke;
    border: none;
    font-size: 50px;
    margin-top: 250px;
}

#resultat:hover {
    background-color: black;
    color: white;
}
